# Environment variables
.env

# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Streamlit
.streamlit/

# Generated data
data/pages.json

vectorstore/index.faiss
vectorstore/chunks.pkl
vectorstore/metadata.pkl
